<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSUIElement</key>
	<true/>
	<key>CFBundleName</key>
	<string>閃歷</string>
	<key>CFBundleDisplayName</key>
	<string>閃歷</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>LSMinimumSystemVersion</key>
	<string>11.0</string>
	<key>NSCalendarsUsageDescription</key>
	<string>閃歷需要存取您的行事曆以顯示會議和活動。</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>閃歷需要完全存取您的行事曆以同步和管理活動、訂閱外部行事曆。</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>閃歷需要您的位置資訊來計算日出日落時間、伊斯蘭禮拜時間和希伯來安息日時間。</string>
	<key>NSLocationUsageDescription</key>
	<string>閃歷使用您的位置資訊來提供準確的天文資訊（日出日落時間、月相）和宗教時間（禮拜時間、安息日）。</string>
</dict>
</plist>
