<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSUIElement</key>
	<true/>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleDisplayName</key>
	<string>MiniCal</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>LSMinimumSystemVersion</key>
	<string>11.0</string>
	<key>NSCalendarsUsageDescription</key>
	<string>MiniCal needs to access your calendar to display meetings and events.</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>MiniCal needs full access to your calendar to sync and manage events, and subscribe to external calendars.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>MiniCal needs your location to calculate sunrise and sunset times, Islamic prayer times, and Hebrew Shabbat times.</string>
	<key>NSLocationUsageDescription</key>
	<string>MiniCal uses your location to provide accurate astronomical information (sunrise and sunset times, moon phases) and religious times (prayer times, Shabbat).</string>
</dict>
</plist>
