<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSUIElement</key>
	<true/>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleDisplayName</key>
	<string>MiniCal</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>LSMinimumSystemVersion</key>
	<string>11.0</string>
	<key>NSCalendarsUsageDescription</key>
	<string>MiniCal ต้องการเข้าถึงปฏิทินของคุณเพื่อแสดงการประชุมและกิจกรรม</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>MiniCal ต้องการสิทธิ์เข้าถึงปฏิทินแบบเต็มเพื่อซิงค์และจัดการกิจกรรม และสมัครสมาชิกปฏิทินภายนอก</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>MiniCal ต้องการตำแหน่งของคุณเพื่อคำนวณเวลาพระอาทิตย์ขึ้นและตก เวลาละหมาดอิสลาม และเวลาวันสะบาโตฮีบรู</string>
	<key>NSLocationUsageDescription</key>
	<string>MiniCal ใช้ตำแหน่งของคุณเพื่อให้ข้อมูลทางดาราศาสตร์ที่แม่นยำ (เวลาพระอาทิตย์ขึ้นและตก ระยะของดวงจันทร์) และเวลาทางศาสนา (เวลาละหมาด วันสะบาโต)</string>
</dict>
</plist>
